{% extends 'base.html' %}
{% block body %}
<section id="banner" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-sm-6">
                <div class="block">
                    <h1>Hi, {{ name }}!</h1>
                    <p> We're thrilled to have you as a subscriber! 
                        Your email has been added to our list, which means you'll receive the 
                        latest updates and information from our company.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

